[submodule "third_party/run68"]
	path = third_party/run68
	url = https://github.com/rururutan/run68.git
[submodule "third_party/X68Sound"]
	path = third_party/X68Sound
	url = https://github.com/rururutan/X68Sound
